# This is not ideal at all because it's used by all package. It would be cleaner to be able to specify this option
# by package as it seems to be possible given requirements file format documentation.
# According to https://github.com/pypa/pip/issues/7050 this is the intended behavior, an issue has been created to 
# update the documentation.
-f https://download.pytorch.org/whl/torch_stable.html

click==7.1.1
fastapi==0.52.0
h11==0.9.0
httptools==0.1.1 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
pydantic==1.4
starlette==0.13.2
uvicorn==0.11.3
uvloop==0.14.0 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
websockets==8.1
numpy==1.17.0

torch==1.4.0+cpu ; sys_platform != 'darwin'
torchvision==0.5.0+cpu ; sys_platform != 'darwin'

torch==1.4.0 ; sys_platform == 'darwin'
torchvision==0.5.0 ; sys_platform == 'darwin'

psycopg2==2.8.4
sentence-transformers==0.2.5.1

# Dev
pylint==2.4.4
